.img1{
    position: absolute;
    top: 30%;
    left:4%;
}
.img2{
    position: absolute;
    top: 30%;
    left:23%;
}
.img3{
    position: absolute;
    top: 30%;
    left:42%;
}
.img4{
    position: absolute;
    top: 30%;
    left:61%;
}
.img5{
    position: absolute;
    top: 30%;
    left:80%;
}
